langchain
langchain-openai
langchain-google-genai
langchain-google-vertexai
langchain-anthropic
langchain-experimental
flask
redis
flask-cors
pyjwt
schedule
pymysql
python-dotenv
cryptography
gunicorn